/Library/
/Temp/
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/Orca6-csharp.sln
/Orca6.sln
/Assembly-UnityScript-vs.unityproj
/Assembly-UnityScript.unityproj
/Orca6.userprefs
/Build/
*.csproj
*.unityproj
/Orca6-csharp.v12.suo
*.v12.suo
